.card {
  border-radius: 8px;
  padding: 1.5rem;

  &[data-theme="pale-orange"] {
    background-color: var(--pale-orange);
  }

  &[data-theme="orange"] {
    background-color: var(--primary);
    color: var(--pale-orange);
  }
}
